#card {
    width: 90%;
    margin: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    box-sizing: border-box;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 8px;
    height: 500px; 
    
    font-family: 'Brush Script MT';
    color: white;
    font-size: xx-large;
    background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAzL3JtNjA2ZGVzaWduLXJlbWl4LWJnLTEzLWEuanBn.jpg');
}